
body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 0;


}

.caja .p{
    font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 100px;
  
}

a{
  color: white;
  text-decoration: none;
  color: #333366;
}


.contenedor-cajas{
display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px;

}

.caja {
background-color: #ffffff;
border-left: 5px solid #333366;
padding: 20px;
margin-bottom: 30px;
box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
border-radius: 8px;
display: flex;
margin: 20px;
}
.caja-temas {
background-color: #ffffff;
border-left: 5px solid #333366;
padding: 20px;
margin-bottom: 30px;
box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
border-radius: 8px;
display: flex;
margin: 20px;
flex-direction: column;
 width: 370px;          
  height: 250px; 
}

.caja-temas p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  text-shadow: 2px 2px 5px #333366;
  text-align: center;
  margin-bottom: 90px;
}

.caja-temas h1 a {
  display: inline-block;
  text-decoration: none;
  color: #333366;
  transition: transform 0.3s ease, color 0.3s ease;
}

.caja-temas h1 a:hover {
  transform: scale(1.05);
  color: #0e9424; /* o cualquier color que prefieras */
}
.contenedor .caja{
height: 200px;

}
.caja-leermas {
background-color: #ffffff;
border-left: 5px solid #333366;
padding: 20px;
margin-bottom: 30px;
box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
border-radius: 8px;
width: 25%;
text-align: center;
display: flex;
flex-wrap: wrap;
justify-content: center;
transition: transform 0.3s ease, font-size 0.3s ease, background-image 0.3s ease;
}
.caja-leermas:hover {
  transform: scale(1.05);
  font-size: 1.1em;
}

#caja1{
  background-image: url(imagenes/invisible4.jpg);
background-position: center;
  background-size: cover;
  color:white;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px black;

}

.caja-leermas p{
 text-shadow: 2px 2px 5px black;
}


#caja2{
 font-size: 1.5em;
 background-image: url(imagenes/invisible5.webp);
 background-position: center;
   color: white;
}

#caja3{
  background-image: url(imagenes/duraznosangrando.jpg);
  background-position: center;
  background-size: cover;
  font-size: 1.5em;
   color: white;
  
}
#caja4{
  background-image: url(imagenes/capitanbeto.jpg);
  background-position: center;
  background-size:cover;
  font-size: 1.5em;
  color: white;
}
#caja5{
 font-size: 1.5em;
 background-image: url(imagenes/invisibleconcierto.jpg);
  background-position: center;
  background-size:cover;
   color: white;
}
#caja6{
 font-size: 1.5em;
  background-position: center;
  background-size:cover;
  background-image: url(imagenes/invisible7jpg.jpg);
  color: white;
}

h1 {


align-self: center;
color: #333366;

}


.btn-leer {
background-color: #333366;
color: #ffffff;
padding: 10px 20px; 
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 20px;
box-shadow: 0 5px 0 #232348;
transition: transform 0.1s, box-shadow 0.1s;

}

.btn-leer:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 #232348;
}
.contenedor-principal {
  display: flex;
  gap: 2rem; 
  flex-wrap: wrap;
  width: 100%;
justify-content: center;
}
.contenedor{
display: flex;
flex-wrap: nowrap;
justify-content: space-around;
}

.imagenes-laterales {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  margin-left: 450px;
 
}
.imagenes-sueltas{
width: 300px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0,0,0,0.15);
margin:2px;


}

nav{
        height: 80px;
        width: 100%;
        background-color: #2b2b5f;
        display: flex;
        align-items: center;
        justify-content: center;
}

.botones{
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    background-color:  #e6e6fa;
    color: black;
    transition: transform 0.3s ease, font-size 0.3s ease, background-image 0.3s ease;
  }

.botones:hover{
  transform: scale(1.05);
  font-size: 1.1em;

}

.menu{
    margin-top: 25px;
}

nav ul li{
display: inline;
gap: 20px;
}

footer {
        background-color: #222;
        text-align: center;
        padding: 1px;
        align-items: center;
        font-family: "Roboto Condensed", sans-serif; 
        width: 100%;
  
       
    }