
body {
font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 0;


}

p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 60%;
  
}

a{
  color: white;
  text-decoration: none;
}


.caja {
background-color: #ffffff;
border-left: 5px solid #333366;
padding: 20px;
margin-bottom: 30px;
box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
border-radius: 8px;
display: flex;
margin: 20px;
}
.caja-leermas {
background-color: #ffffff;
border-left: 5px solid #333366;
padding: 20px;
margin-bottom: 30px;
box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
border-radius: 8px;

}

h1 {
text-align: center;
margin-bottom: 40px;
color: #333366;
}

.bloque-tema {
background-color: #e6e6fa; 
padding: 25px;
margin-bottom: 40px;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.bloque-tema h2 {
text-align: center;
color: #2b2b5f;
margin-bottom: 30px;
}

.btn-leer {
background-color: #333366;
color: #ffffff;
padding: 10px 20px; 
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 20px;
box-shadow: 0 5px 0 #232348;
transition: transform 0.1s, box-shadow 0.1s;
}

.btn-leer:active {
    transform: translateY(3px);
    box-shadow: 0 0 0 #232348;
}
.contenedor-principal {
  display: flex;
  gap: 2rem; 
  align-items: flex-start; 
  flex-wrap: wrap;
}


.imagenes-laterales {
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  margin-left: 450px;
 
}

nav{
        height: 80px;
        width: 100%;
        background-color: #2b2b5f;
        display: flex;
        align-items: center;
        justify-content: center;
}

.botones{
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    background-color:  #e6e6fa;
  color: black;
    
}

.menu{
    margin-top: 25px;
}

nav ul li{
display: inline;
gap: 20px;
}

footer {
        background-color: #222;
        text-align: center;
        padding: 1px;
        align-items: center;
        font-family: "Roboto Condensed", sans-serif; 
        width: 100%;
       
    }